$title-font: "Gravitas One", system-ui, serif;
$blue: #3b82f6;
$text-color: #333;
$gunmetal: #2a3439;
$roseebony: #593936;
$card-bg: #bcaa99;
$page-bg: #e8e3dc;
$radius: 0.6rem;
$font: Gravitas one, Arial, Helvetica;
$liquorice: #1a1110;
$golden: #f6c57e;
