@use "variables" as *;
@use "mixins" as *;


* {
    box-sizing: border-box;
}



body {
    font-family: $font;
    color: $text-color;
    background-color: $blue;
    margin: 0;
    padding: 2rem;
}



.profile-card {
    @include card;
    text-align: center;
    width: 260px;
    margin: 40px auto;



    img {
        border-radius: 50%;
        width: 128px;
        height: 128px;
        object-fit: cover;
        margin: 0 auto 1rem;
        display: block;
    }

    h2 {
        font-family: $title-font;
        font-size: 1.35rem;
        margin: 0 0 .35rem 0;
        color: $liquorice;
    }

    button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 0.6rem 1.2rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: color.scale($primary-color, $lightness: -15%);
        }
    }
}

main {
    background-image: url('/assets/joshua-bartell-6vvIBTvL90A-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.month-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-box {
    display: flex;
    align-items: center;
    background-color: #c0c0c05b;
    width: 25rem;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.author-month {
    margin-top: 1rem;

    h2 {
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.author-img {
    display: flex;
    justify-content: center;

    img {
        margin: 1rem;
        width: 70%;
        border-radius: 50%;
        border: 5px solid rgb(106, 66, 17);
    }
}

.author-name {
    margin-bottom: 1rem;
}

.book-box {
    display: flex;
    align-items: center;
    background-color: #c0c0c05b;
    width: 25rem;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.book-month {
    margin-top: 1rem;

    h2 {
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.book-img {
    display: flex;
    flex-wrap: wrap;

    .book-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }
}